aside {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  top: 0;
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  z-index: 200;

  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: visibility, margin-left, margin-right, transform, width,
    max-width, min-width;
}

.collapsed {
  margin-left: -280px;
}

// Layout Classy Aside
.layout-compact aside {
  min-width: 144px;
  max-width: 144px;
}

.layout-compact .collapsed {
  margin-left: -144px;
}
